

<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>
    <h1>Sosial Media və İstifadəçilər</h1>

    <nav>
        <ul>
            <li><a href="/">Ana səhifə</a></li>
            <li><a href="/about">Haqqında</a></li>
            <li><a href="/contact">Əlaqə</a></li>
            <li><a href="/popular_users">Populyar İstifadəçilər</a></li>
            <li><a href="/scratch">Scratch</a></li>
        </ul>
    </nav>
</header>


    {% block content %}

    {% endblock %}


<footer>
    © 2026 Sosial Media Saytı. Kodlardan istifadə edə bilərsiniz.
</footer>

</body>
</html>