{% extends "base.html" %}


{% block title %}
Popular Users
<link rel="stylesheet" href="style.css">
{% endblock %}

{% block content %}

<section>
    <h2>Populyar İstifadəçilər</h2>
    <p>Bu səhifədə sosial media platformalarında populyar olan istifadəçilərin siyahısını tapa bilərsiniz. Hər bir istifadəçi haqqında qısa məlumat və onların ən məşhur paylaşımlarını görə bilərsiniz.</p>
    
<h2>1. Cristiano Ronaldo</h2>
<p>
Cristiano Ronaldo dünyanın ən məşhur futbolçularından biridir və Instagram platformasında ən çox izləyicisi olan insanlardan hesab olunur. 
Onun Instagram hesabında 600 milyondan çox izləyicisi var və paylaşımları milyonlarla bəyənmə toplayır.<br /><br />

Cristiano Ronaldo 1985-ci ildə Portuqaliyada anadan olmuşdur. 
O, futbol karyerasına gənc yaşlarında başlamış və böyük istedadı sayəsində qısa müddətdə məşhurlaşmışdır. 
Ronaldo karyerası boyunca Manchester United, Real Madrid, Juventus və Al Nassr kimi məşhur futbol klublarında çıxış etmişdir.<br /><br />

O, sürəti, güclü zərbələri və qol vurmaq bacarığı ilə futbol tarixinin ən yaxşı oyunçularından biri hesab olunur. 
Karyerası ərzində bir çox kubok və fərdi mükafat qazanmışdır.<br /><br />

Cristiano Ronaldo sosial mediada yalnız futbol paylaşımları deyil, həm də ailəsi, məşqləri və gündəlik həyatı ilə bağlı məzmunlar paylaşır. 
O, həm futbol dünyasında, həm də sosial media sahəsində böyük populyarlığa malikdir.
</p>    

<h2>2. Danla Bilic</h2>
<p>
Danla Bilic, Instagram platformasında milyonlarla izləyicisi olan məşhur influenser və məzmun istehsalçısıdır. 
O, xüsusilə makiyaj videoları, moda paylaşımları və əyləncəli məzmunları ilə tanınır.<br />

Danla Bilic Türkiyədə anadan olmuşdur və sosial media fəaliyyətinə gənc yaşlarında başlamışdır. 
İlk vaxtlarda paylaşdığı yumorlu videolar və səmimi danışıq tərzi sayəsində qısa müddətdə məşhurlaşmışdır.<br />

Onun Instagram hesabında gündəlik həyat, gözəllik, səyahət və moda ilə bağlı paylaşımlar yer alır. 
İzləyicilər onu enerjili xarakterinə və maraqlı videolarına görə çox sevirlər.
</p>   



<h2>3. Orkun Isitmak</h2>
<p>
Orkun Isitmak, YouTube platformasında 12,5 milyon abunəçisi olan məşhur bir videoblogerdir. 
O, xüsusilə əyləncəli videoları, maraqlı meydan oxumaları və sosial eksperimentləri ilə tanınır.<br />>

Orkun Isitmak 1996-cı ildə Türkiyədə anadan olmuşdur və sosial media fəaliyyətinə gənc yaşlarından başlamışdır. 
İlk vaxtlarda oyun videoları paylaşsa da, sonradan fәrqli mәzmun növlәrinә keçәrәk daha geniş auditoriya qazanmışdır.<br />

</p>


<h2>4. Khaby Lame</h2>
<p>
Khaby Lame sosial media dünyasında ən məşhur fenomenlərdən biridir və xüsusilə Instagram platformasında milyonlarla izləyiciyə sahibdir. 
Onun Instagram hesabında 80 milyondan çox izləyici var və videoları qısa müddətdə milyonlarla baxış toplayır.<br /><br />

Khaby Lame 2000-ci ildə Seneqalda anadan olmuş, daha sonra ailəsi ilə birlikdə İtaliyaya köçmüşdür. 
O, sosial mediada sadə və səssiz yumor videoları paylaşaraq məşhurlaşmışdır. <br /><br />

Onun mimikaları və danışmadan etdiyi zarafatlar dünyanın bir çox ölkəsində insanlar tərəfindən sevilir. 
Khaby Lame qısa müddətdə TikTok və Instagram platformalarında böyük uğur qazanmışdır.<br /><br />

Hazırda Khaby Lame dünyanın ən məşhur sosial media fenomenlərindən biri hesab olunur və müxtəlif məşhur markalarla əməkdaşlıq edir.
</p>


<h2>5. Hüseyn Həsənov</h2>
<p>
Hüseyn Həsənov sosial media dünyasında tanınan azərbaycanlı bloger və Instagram fenomenidir. 
Onun Instagram hesabında milyonlarla izləyicisi var və paylaşdığı videolar böyük maraqla izlənilir.<br /><br />

Hüseyn Həsənov 1994-cü ildə Rusiyada anadan olmuşdur. 
O, azərbaycanlı ailəsində böyümüş və sosial media fəaliyyətinə gənc yaşlarında başlamışdır. 
İlk olaraq yumorlu videolar və maraqlı sosial eksperimentlər paylaşaraq məşhurlaşmışdır.<br />
Onun videolarında əyləncəli səhnələr, gündəlik həyat görüntüləri və müxtəlif maraqlı layihələr yer alır. 

</p>


<h2>6. Elraenn</h2>
<p>
Elraenn, Twitch platformasında milyonlarla izləyicisi olan məşhur yayımçılardan biridir. 
O, əsasən oyun yayımları, söhbət videoları və əyləncəli canlı yayımları ilə tanınır.<br />

Elraennin Twitch hesabında milyonlarla izləyici var və yayımlarını hər gün minlərlə insan izləyir. 
O, xüsusilə GTA V, Valorant, Minecraft və müxtəlif qorxu oyunları oynadığı yayımlarla məşhurlaşmışdır.<br />

</p>
</section>
{% endblock %}