<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
        <h2>{% block content %}Sosial Media və İstifadəçilər{% endblock %}</h2>

        
        <nav>
            <ul>
                <li><a href="index.html">Ana səhifə</a></li>
                <li><a href="about.html">Haqqında</a></li>
                <li><a href="contact.html">Əlaqə</a></li>
                <li><a href="popular_users.html">Populyar İstifadəçilər</a></li>
                <li><a href="Scratch.html">Scratch</a></li>
            </ul>
        </nav>
    </header>


   <footer>© 2026 Sosial Media Saytı.Kodlardan istifade edebilesiniz.</footer> 
</body>
</html>
